body {height:100%; margin:0px; padding:0}

#tinybox {position:absolute;
    display:none;
    padding:10px;
    background:#FFF url(images/preload.gif) no-repeat 50% 50%;
    /*border:10px solid #B9B9B9;*/
    z-index:2000;
    border-radius: 5px;
}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
#tinycontent {background:#fff}
#tinycontent .content-header{border: none;}
#tinycontent textarea{
    color: #636262;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
